<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página con Tarjetas y Efectos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="fondo">
        <div class="dark-mask"></div>
        <div class="overlay"></div>
        <div class="top-bar">
            <img src="https://i.imgur.com/Zolobvu.png" alt="Logo" class="logo" />
            <img src="https://i.imgur.com/dceYKLW.png" alt="Logo" style="width: 220px; height: auto;" />
            <img src="https://i.imgur.com/2FO5LPI.png" alt="Logo" style="width: 10%; height: auto" />
        </div>

        <span class="open-btn" id="myButton">&#9776;</span>
        <div id="sidebar" class="sidebar"></div>
        
        <div class="main-content">
            <div class="contenedor-principal">
                <div class="encabezado">
                    <h1>KPI de Riesgo</h1>
                    <hr class="linea-separadora" />
                
                    <div class="select-row">
                        <div class="input-container">
                            <label for="ducto-select">Seleccionar Ducto:</label>
                            <div class="custom-select">
                                <select id="ducto-select">
                                    <option value="">Seleccione un ducto</option>
                                    <option value="TPRA_IndiaBonita_Ramones">TPRA India Bonita - Ramones</option>
                                    <option value="TPRA_Sistema_Naco_Hermosillo">TPRA Sistema Naco - Hermosillo</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="input-container">
                            <label for="tramo-select">Seleccionar Tramo:</label>
                            <div class="custom-select">
                                <select id="tramo-select">
                                    <option value="">Seleccione un tramo</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="button-container">
                        <form action="/upload" method="post" id="upload-form">
                            <input type="hidden" name="file" id="file-input" />
                            <input type="hidden" name="tramo" id="tramo-hidden" /> <!-- Campo oculto para el tramo -->
                            <button type="submit" id="generar-matriz-btn" class="btn-profesional">Generar Matriz</button>
                        </form>
                    </div>
                    
                    <body class="cuerpo-matriz">
                        <div class="contenedor-matriz">
                            <table>
                                <thead>
                                    <tr>
                                        <th>FoF/CoF</th>
                                        <th>Casi Imposible<br>(- 1.00e-5)</th>
                                        <th>Raro<br>(1.00e-5 - 1.00e-4)</th>
                                        <th>Posible<br>(1.00e-4 - 1.00e-3)</th>
                                        <th>Probable<br>(1.00e-3 - 1.00e-2)</th>
                                        <th>Muy Probable<br>(1.00e-2 - 1.00e-1)</th>
                                        <th>Altamente Probable<br>(1.00e-1 - 1.00e0)</th>
                                        <th>Casi Seguro<br>(1.00e0 -)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Extremo<br>(1.50e9 -)</td>
                                        <td class="orange">0</td>
                                        <td class="orange">0</td>
                                        <td class="red">0</td>
                                        <td class="red">0</td>
                                        <td class="dark-red">0</td>
                                        <td class="dark-red">0</td>
                                        <td class="dark-red">0</td>
                                    </tr>
                                    <tr>
                                        <td>Crítico<br>(1.50e8 - 1.50e9)</td>
                                        <td class="yellow">0</td>
                                        <td class="orange">0</td>
                                        <td class="orange">0</td>
                                        <td class="red">0</td>
                                        <td class="red">0</td>
                                        <td class="dark-red">0</td>
                                        <td class="dark-red">0</td>
                                    </tr>
                                    <tr>
                                        <td>Severo<br>(1.50e6 - 1.50e8)</td>
                                        <td class="yellow">0</td>
                                        <td class="yellow">0</td>
                                        <td class="orange">0</td>
                                        <td class="red">0</td>
                                        <td class="red">0</td>
                                        <td class="dark-red">0</td>
                                        <td class="dark-red">0</td>
                                    </tr>
                                    <tr>
                                        <td>Serio<br>(5.00e5 - 1.50e6)</td>
                                        <td class="green">0</td>
                                        <td class="yellow">0</td>
                                        <td class="orange">0</td>
                                        <td class="orange">0</td>
                                        <td class="red">0</td>
                                        <td class="red">0</td>
                                        <td class="dark-red">0</td>
                                    </tr>
                                    <tr>
                                        <td>Moderado<br>(4.00e4 - 5.00e5)</td>
                                        <td class="green">0</td>
                                        <td class="green">0</td>
                                        <td class="yellow">0</td>
                                        <td class="orange">0</td>
                                        <td class="orange">0</td>
                                        <td class="red">0</td>
                                        <td class="red">0</td>
                                    </tr>
                                    <tr>
                                        <td>Menor<br>(4.00e3 - 4.00e4)</td>
                                        <td class="green">0</td>
                                        <td class="green">0</td>
                                        <td class="yellow">0</td>
                                        <td class="yellow">0</td>
                                        <td class="orange">0</td>
                                        <td class="orange">0</td>
                                        <td class="red">0</td>
                                    </tr>
                                    <tr>
                                        <td>Insignificante<br>(- 4.00e3)</td>
                                        <td class="green">0</td>
                                        <td class="green">0</td>
                                        <td class="green">0</td>
                                        <td class="yellow">0</td>
                                        <td class="yellow">0</td>
                                        <td class="orange">0</td>
                                        <td class="orange">0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="legend-container">
                                <h2>Leyendas</h2>
                                <div class="legend">
                                    <div><span class="dark-red"></span> VH (Muy Alto)</div>
                                    <div><span class="red"></span> H (Alto)</div>
                                    <div><span class="orange"></span> M (Medio)</div>
                                    <div><span class="yellow"></span> L (Bajo)</div>
                                    <div><span class="green"></span> VL (Muy Bajo)</div>
                                </div>
                            </div>
                        </div>
                    </body>
                </div>
                
            </div>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>
    <script>
      const ductos = [
        {
            nombre: "TPRA_IndiaBonita_Ramones",
            tramos: [
                { nombre: "GSD 42 Divisadero - Est Med Los Ramones" },
                { nombre: "GSD 42 India Bonita - Divisadero" }
            ]
        },
        {
            nombre: "TPRA_Sistema_Naco_Hermosillo",
            tramos: [
                { nombre: "GSD 16 Cuitaca - Santa Ana Sonora" },
                { nombre: "GSD 16 Est. Compresión - Cuitaca" },
                { nombre: "GSD 16 Imp. Naco - Est. Compresión" },
                { nombre: "GSD 16 Los Chinos - Hermosillo" },
                { nombre: "GSD 16 Santa Ana Sonora - Los Chinos" }
            ]
        }
    ];

    const ductoSelect = document.getElementById('ducto-select');
    const tramoSelect = document.getElementById('tramo-select');
    const fileInput = document.getElementById('file-input');
    const uploadForm = document.getElementById('upload-form');

    // Función para cargar tramos
    const cargarTramos = (ductoSeleccionado) => {
        tramoSelect.innerHTML = '<option value="">Seleccione un tramo</option>'; // Resetear tramos
        if (ductoSeleccionado) {
            const ductoData = ductos.find(ducto => ducto.nombre === ductoSeleccionado);
            if (ductoData) {
                ductoData.tramos.forEach(tramo => {
                    const option = document.createElement('option');
                    option.value = tramo.nombre;
                    option.textContent = tramo.nombre;
                    tramoSelect.appendChild(option);
                });
            }
        }
    };

    // Cargar tramos al seleccionar un ducto
    ductoSelect.addEventListener('change', (event) => {
        cargarTramos(event.target.value);
    });

    // Cargar ducto al seleccionar un tramo
// Actualizar el campo oculto con el tramo seleccionado antes de enviar el formulario
tramoSelect.addEventListener('change', (event) => {
    const selectedTramo = event.target.value;
    const selectedDuctoData = ductos.find(ducto => ducto.tramos.some(tramo => tramo.nombre === selectedTramo));
    ductoSelect.value = selectedDuctoData ? selectedDuctoData.nombre : '';
    
    // Establecer el valor del campo oculto
    document.getElementById('tramo-hidden').value = selectedTramo;
});


    // Establecer el nombre del archivo antes de enviar el formulario
    uploadForm.addEventListener('submit', (event) => {
        const selectedDucto = ductoSelect.value;
        if (selectedDucto) {
            fileInput.value = `${selectedDucto}.xlsx`;
        }
    });

    // Inicializar tramos al cargar la página
    cargarTramos('');
    </script>
</body>
</html>
