<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>
    <h1>Datos del archivo Excel</h1>
    <% if (data) { %>
        <% Object.keys(data).forEach(sheet => { %>
            <h2><%= sheet %></h2>
            <pre><%= JSON.stringify(data[sheet], null, 2) %></pre>
        <% }) %>
    <% } else { %>
        <p>No se encontraron datos.</p>
    <% } %>
    <a href="/">Volver</a>
</body>
</html>
